# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info
wheels/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# RAG / Data (IMPORTANT)
data/
*.pdf

# Vector store / embeddings
faiss_store/
embeddings/
*.faiss
*.pkl
*.index

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db